# Domaine de l'app en production
APP_HOST=haagendazs-influence.fr

# Expéditeur des emails
MAILER_FROM=Häagen-Dazs Influence <no-reply@haagendazs-influence.fr>
GOOGLE_SHEET_WEBHOOK=https://script.google.com/macros/s/.../exec

# Email de notification admin (reçoit chaque nouvelle inscription)
ADMIN_EMAIL=influence@haagendazs-france.fr

# SMTP — exemple avec SendGrid
SMTP_HOST=smtp.sendgrid.net
SMTP_PORT=587
SMTP_USERNAME=apikey
SMTP_PASSWORD=SG.xxxxxxxxxxxxxxxxxxxx

# Rails
RAILS_MASTER_KEY=
SECRET_KEY_BASE=
